<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itliujiong.raggie.mapper.EmployeeMapper">

    <select id="login" resultType="com.itliujiong.raggie.entity.Employee">
        select * from raggie.employee where username=#{username} and password=#{password}
    </select>
</mapper>
